<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<link rel="stylesheet" type="text/css" href="style.css" />
    <meta charset="UTF-8">
    <div>
    <img src="logo.png" alt="Buzz" width="350" height="350">
    </div>
    </br>
    <input type="text" name="Code" id="Code" placeholder="ENTER PRODUCTCODE" ng-model="Code"/></br>
    <input type="password" name="Password" id="Password" placeholder="ENTER PASSWORD" ng-model="Password"/></br>
    {{ test }}
   <!-- 
    {{ Code }}
    {{ Password }} -->
    <button name="Login" id="Login" ng-click="login()">Login</button>

