<header>
   <link rel="stylesheet" href="node_modules/angular-bootstrap-datetimepicker/src/css/datetimepicker.css"/>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="style.css" />
   <div class="column topleft">
      <img class="logosmall" src="small%20logo.png" alt="Buzz" width="75" height="75">
   </div>
   <div class="column topmiddle">
      <input type="text" name="Code" id="Code" placeholder="ENTER NEW PASSWORD" ng-model="Newpsw" ng-hide="true"/>
      <button class="changebtn" type="submit" name="Change" id="Change" ng-click="Change()" ng-hide="true">Change Password</button>
   </div>
   <div class="column topright">
      <button  class="logout" type="submit" name="Logout" id="Logout" ng-click="Logout()" ng-hide="true">Logout</button>
   </div>
</header>
<div class="main left">
   <img class="" src="history.png" alt="History" width="90" height="100" ng-click="gethistory()">
</div>
<div class="main middle">
   <img class="" src="today.png" alt="Today" width="75" height="100" ng-click="gettimestamps24()">
</div>
<div class="main right">
   <img class="" src="graphs.png" alt="Graphs" width="90" height="100" ng-click="getgraphs()">
</div>
<table class="table table-striped table-hover" ng-show="showtable">
   <thead>
      <tr>
         <th>Timestamp</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="timestamp in timestamps  | limitTo:amount | orderBy:'+':true " >
         <td>{{ timestamp.timestamp | date : kindoftime}}</td>
      </tr>
   </tbody>
</table>
<div class="werk col-md-8" ng-hide="showtable">
   <div google-chart chart="myChartObject"></div>
   <input id="date" type="date" ng-model="datepicker" ng-change="datechanged()"> 
   <!--  
      <datetimepicker data-ng-model="data.date" ng-change="datechanged()"></datetimepicker>
      -->
   <div class="row">
      <div class='col-sm-6'>
         <div class="form-group">
            <div class='input-group date' id='startTime'>
               <input type='text' class="form-control" />
               <span class="input-group-addon">
               <span class="glyphicon glyphicon-calendar"></span>
               </span>
            </div>
         </div>
      </div>
   </div>
   <script type="text/javascript">
      $(document).ready(function () {
      
      $('#startTime').datetimepicker({
      defaultDate: moment()
      });
      
      });
      
   </script>
</div>